*const firebaseConfig = {
  apiKey: 'AIzaSyA9qr6bjfoF728gyH-AWWQ20rxst4-l77k',
  authDomain: 'travellink-9862f.firebaseapp.com',
  databaseURL: 'https://travellink-9862f-default-rtdb.firebaseio.com',
  projectId: 'travellink-9862f',
  storageBucket: 'travellink-9862f.appspot.com',
  messagingSenderId: '423381510776',
  appId: '1:423381510776:android:b23cb47a7034f833971b8d',
}; // from chatApp.js

*GoogleSignin.configure({
      webClientId: '423381510776-25fdk09bslcs3e8cpp8up1rrcmu34pgf.apps.googleusercontent.com',
      offlineAccess: true, 
});  // LoginPage.js

*key: 'rzp_test_CM0Qfrf8C6BSPl',  from Payment.js

* <ZegoUIKitPrebuiltCall
        appID={1020221551}
        appSign={'cb2c6700e3043e3ee358e5baaca8a9224c32bab266a7ae7b3251de77870b8b10'}
        userID={name + 'userID'}
        userName={name}
        callID={roomNo}

        config={{
            ...ONE_ON_ONE_VIDEO_CALL_CONFIG,
            onCallEnd: (callID, reason, duration) => { navigation.navigate('VideoCallHomeScreen') },
        }}
/>

*<meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="AIzaSyCHdah0jHe9jBM1ulD4jJfg2S-7Lg1p0eQ" />
       <meta-data
            android:name="razorpay_key_id"
            android:value="rzp_test_CM0Qfrf8C6BSPl	" />

# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
**/Pods/
/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# testing
/coverage

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
